# auxillary LaTeX files #
###################
docs/*.aux
docs/*.fdb_latexmk
docs/*.log
docs/*.nav
docs/*.out
docs/*.snm
docs/*.synctex.gz
docs/*.toc
docs/*-blx.bib
docs/*.bbl
docs/*.blg
docs/*.run.xml

/constant/polyMesh/points
/constant/polyMesh/boundary
