# auxillary LaTeX files #
###################
docs/figures/*.aux
docs/figures/*.fdb_latexmk
docs/figures/*.log
docs/figures/*.nav
docs/figures/*.out
docs/figures/*.snm
docs/figures/*.synctex.gz
docs/figures/*.toc
